<p>Nhận định trong bài viết “Indonesia cầm chân Việt Nam để sắp đặt ngày hạ màn kịch tính ở bảng B AFF Cup” trên trang ESPN 
    phiên bản châu Á, ký giả Gabriel Tan tỏ ra ấn tượng với thành quả của đội bóng xứ vạn đảo.

    Bài viết cho rằng “một điểm trước Việt Nam sẽ luôn là thành tích chấp nhận được với Indonesia”, và sử dụng từ “quả cảm” 
    để đánh giá màn trình diễn của thầy trò HLV Shin Tae Yong. Gabriel Tan nhận định kết quả hòa 0-0 ở trận đấu này sẽ “mang
     đến một viễn cảnh rất khó lường ở lượt đấu hạ màn vào ngày Chủ Nhật”.
    
    Trên bảng xếp hạng hiện tại, Indonesia và Việt Nam chiếm 2 vị trí đầu bảng với cùng có 7 điểm, trong khi Malaysia xếp 
    thứ ba với 1 điểm kém hơn. Ở lượt cuối, Indonesia và Malaysia sẽ đụng độ trực tiếp, trong khi Việt Nam chỉ phải gặp Campuchia.
    
    Nói về viễn cảnh dành cho ĐT Việt Nam, Gabriel Tan đưa ra một chút cảnh báo cho thầy trò HLV Park Hang Seo nhưng cho 
    rằng thách thức cho đội đương kim vô địch là không nhiều: “Việt Nam chắc hẳn sẽ rất tự tin khi họ sẽ chia tay vòng bảng 
    với một trận đấu nên thắng trước Campuchia, dù một thất bại không dám nghĩ tới có thể sẽ khiến họ bị loại”.
    
    Ở một diễn biến khác, dù hàng thủ ĐT Việt Nam phải chịu rất ít áp lực nào từ đối thủ Indonesia, song trung vệ Thành Chung 
    đã nhận được những lời khen ngợi từ ban tổ chức AFF Cup và được bình chọn là cầu thủ năng nổ nhất trận đấu.</p>
<a [routerLink]="['/my-management']">To management</a>