<p>Không giấu được niềm vui, Anh Nguyễn Việt Công Giám đốc Rita Hotel chia sẻ "mặc dù thất thu suốt năm 
    qua nhưng khi hay tin được mở cửa, khách sạn vẫn tung ra các gói để kích cầu như giảm 50% giá phòng hay 
    khuyến mãi nhiều dịch vụ để thu hút được thêm nhiều du khách. 

    Bên cạnh đó, Rita Hotel cũng luôn đặt vấn đề sức khoẻ của du khách là trên hết và xây dựng các 
    phương án phòng dịch hiệu quả, sát thực tế.
    
    Trong khi đó, nhiều khách sạn, resort cũng nhận được hàng chục cuộc gọi đặt phòng nhưng vẫn phải có sự 
    chọn lọc, bởi theo quy định khách sạn chỉ được nhận khách đã tiêm đủ 2 mũi vắc xin hoặc có kết quả xét nghiệm 
    âm tính trong 72 giờ trước khi nhận phòng hoặc đã khỏi bệnh Covid-19 trong 6 tháng.
    <img src="https://cdn.24h.com.vn/upload/4-2021/images/2021-12-16//1639633273-z30241881554063158aa91088ad9fb96700a8007e99ef4-16395573462041738161764-width1280height844.jpg">
</p>
<a [routerLink]="['/my-blog']">To management</a>
