<a [routerLink]="['/my-blog']">To management</a>
<p>
    <img src="https://cdn.24h.com.vn/upload/4-2021/images/2021-12-16//1639633273-z30241881554063158aa91088ad9fb96700a8007e99ef4-16395573462041738161764-width1280height844.jpg">
</p>

<div>
    <div *ngFor="let user of users">
        <div>
            <label>userId: </label>
            <span>{{user.userId}}</span>
        </div>
        <div>
            <label>title: </label>
            <span>{{user.title}}</span>
        </div>
        <div>
            <label>userId: </label>
            <span>{{user.body}}</span>
        </div>
    </div>
</div>

